h5{
    text-align: center;
    font-size: 5em
}
*{
    margin-right: 20px;
    text-align: center;
    font-size: 18pt; 
}
h1{
    font-size: 2em; 
font-weight: bold;
}
strong{
float: right;
margin-right: 50px;
}
