<table class="table" *ngIf="itemsInCart.length > 0">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Sales Tax</th>
            <th scope="col">Import Duty</th>
            <th scope="col">Total Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of itemsInCart; let i = index">
            <td>{{ item.name }}</td>
            <td><button class="btn btn-info" [class.disabled]="item.quantity == 0" (click)="onDecreaseQty(item)">-</button>&nbsp;{{ item.quantity }}&nbsp;<button class="btn btn-info" [class.disabled]="item.quantity == item.available" (click)="onIncreaseQty(item)">+</button></td>
            <td>{{ item.price | currency }}</td>
            <td>{{ item.tax  * (item.price * item.quantity) | currency }}</td>
            <td>{{ item.duty  * (item.price * item.quantity) | currency }}</td>
            <td>{{ ((item.quantity * item.price) + (item.duty   * (item.price * item.quantity)) + ( item.tax  * (item.price * item.quantity)) )| currency }}</td>
        
            <td><button class="btn btn-danger float-right" (click)="onRemoveItemFromCart(i)">X</button></td>
        </tr>
    </tbody>
</table>
<div>
<strong *ngIf="itemsInCart.length > 0">Current Cart Total: {{ total | currency }}</strong>
<br>
<br>
<button *ngIf="itemsInCart.length > 0" class="btn btn-success" (click)="onPurchase()">Purchase</button>
<h5 *ngIf="itemsInCart.length == 0">{{ infoText }}</h5>
</div>