.col-sm-2{
    display: inline;
       
}
div.card{
    float: left;
    margin: 50px 50px 50px 80px;
    text-align: center;

}
.col-sm-12{
    width: 100%;
}
input{
    margin-left: 75px;
    border-color: #000;
}
