.btn{
    margin-left: 80px;
    margin-top: 20px;
    background-color: grey ;
    border-color: #000;
}
.form-control{
    text-align: center;
}
button{
    font-size: 18px;
}
button:hover{
    background-color:#870000;
}
.card{
    border-color: #000;
    border-width: 3;

}
img{
 width: 80%;
 margin-left: 10%;
 margin-top: 10px;
}
input{
    background-color: lightgrey;
    color: black;
    margin-bottom: 10px;
}
