<div class="row">
        <div class="col-md-6 col-lg-4">
<div class="card" style="width: 20rem; height: 40rem;">
    <img src="{{ product.image }}" alt="Card image cap" class="card-img-top img-fluid" style="height: 18rem;"/>
    
<div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p>{{ product.category }}</p>
    <p>Shipping: {{ product.shipping }}</p>
    <span >Price: {{ product.price | currency }}</span>
    <div class="row">
        <input [(ngModel)]="qtyToPurchase" type="number" class="form-control" placeholder="Qty" [min]="0" [max]="product.quantity">
        <button type="button" class="btn btn-success" [class.disabled]="qtyToPurchase > product.quantity" (click)="onAddToCart(product)">{{ buttonText }}</button>
    </div>
</div>
</div>
</div>
</div>
